.health-circle-container{
  display: flex;
  flex-direction: row;
}

.health-circle-container > h4{
  margin: 0;
  padding-left: 20px;
  align-self: center;
}

@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}
  
@media (prefers-reduced-motion: no-preference) {
    .healthcircle {
      animation: App-logo-spin infinite 20s linear;
    }
}
  
.healthcircle {
  display: flex;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-left: solid #3b8ef3 30px;
  border-top: solid green 30px;
  border-right: solid  #3b8ef3 30px;
  border-bottom: solid #3b8ef3 30px;
  border-radius: 50%;
}