@import "./battery-details.css";
@import "./battery-icon.css";
@import "./capacity-bar.css";
@import "./card.css";
@import "./chart.css";
@import "./circle.css";
@import "./filter-bar.css";
@import "./issues-bar.css";
@import "./loading-spinner.css";
@import "./navbar.css";
@import "./sidebar.css";

/*main page body container*/
.body {
  display: flex;
  flex-direction: column;
}

a, div, h3, h4, h5, h6, p, button{
  text-decoration: none;
  color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}