/*side bar container */
.sidebar{
    position: fixed;
    z-index:10;
    background-color: white;
    margin-top: 81px;
    width: 180px;
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    border-top: none;
}
  
/*Input bar*/
.sidebar > input {
    border: none;
    border-bottom: solid 1px darkgray;
    padding-left: 5px;
    height: 30px;
    margin-bottom: 10px;
}
  
/*dropdown menu*/
.dropbtn, .dropdown-content > button{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.dropbtn {
    border: solid 2px white;
    width: 100%;
    height: 50px;
    cursor: pointer;
    margin: 5px 0;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content button {
    width: 100%;
    background-color: white;
    border: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content button:hover {
    cursor: pointer;
    background-color: #f1f1f1
}
  
.dropdown:hover .dropdown-content {
    display: block;
}
  
.dropdown:hover .dropbtn {
    background-color: lightblue;
}
  
/*List of battery ids*/
.id-list{
    overflow: auto;
    height: 411px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
  
.id-list > a {
    color: black;
    padding: 10px;
}
  
.id-list > a:hover {
    cursor: pointer;
    background-color: lightgray;
}
  
/*SortBox*/
.sortbox-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
  
.sortbox-buttons > button {
    height: 45px;
    width: 50%;
    font-size:  large;
    background-color: white;
}

.reset-button{
    border: none;
}

.sort-button {
    border: none;
    border-left: 1px solid black;
}

.sortbox-buttons > button:hover{
    cursor: pointer;
    font-size: larger;
    background-color: #f1f1f1;
    border: solid 1px black;
}

/*media mobile size of screen*/
@media only screen and (max-width: 1000px) {
}